html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.proInfo{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;

}
.proInfo img{
  width: 150px;
  height: 150px;
   
}
.allPro{
  width: 100%;
  height: 100%;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-gap: 20px;
	padding: 20px;
    text-align: center;
   
}
.proTitle{
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn{
  /* height: 50px;
  background-color: cadetblue;
  border: 0ch;
  margin-top: 5px; */
}
.wholeCart{
/* width: 100%;
  display: grid;
	grid-template-columns: 1fr 1fr ;   */
}
.carts{
  width: 100%;
  display: grid;
	grid-template-columns: 2fr 0.5fr ; 
}
.cartMain{
  width: 100%;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
  border: solid 1px black;
}
.cartMain img{
  width: 30px;
  height: 30px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
